src/main/mule/jmsconn-alekhya.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="41900c4e-b57a-446a-941a-a83eb2a08ede" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ddb63c25-c778-418c-a4ec-b24dfff6f8c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jmsconn-alekhyaFlow1" doc:id="28d165cc-ffc6-4c86-8d25-b736b0a5220d" >
		<http:listener doc:name="Listener" doc:id="9520f2ac-e7ff-4971-a3f5-9d4c9a1d5324" config-ref="HTTP_Listener_config" path="/jmsconsume"/>
		<jms:consume doc:name="Consume" doc:id="4c7b14a5-cbb4-4d76-b360-9cf87cb3f2b2" config-ref="JMS_Config" destination="queue.alekhya.consume"/>
		<logger level="INFO" doc:name="Logger" doc:id="a127d2bb-31b0-445c-abe5-20f617c91a20" message="#[payload]"/>
	</flow>
</mule>
